button,
span {
  margin: 0.1em;
}

span {
  padding: 0.2em;
}

.button-icon {
  width: 32px;
}

.highlight {
  background-color: rgb(243, 101, 101);
  border-radius: 4px;
}

textarea {
  font-size: 12px;
}

.active{
  background-color: blue;
}
